.movieCards {
  .movie-card {
    display: grid;
    grid-template-columns: 9fr 3fr;

    @include responsiveToUp(lg){
      grid-template-columns: 1fr;
    }
  }

  .performance-times {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    @include responsiveToUp(lg){
      margin-top: 1rem;
      justify-content: flex-start;
    }

    div{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  .card {
    background-color: transparent;
    position: relative;
    margin-bottom: 0;
    padding: 1.5rem 0;

    .cardWrapper{
      display: flex;
      gap: 2rem;

      @include responsiveToUp(md){
        display: block;
      }

    }

    .card-title {
      @include fontAlexussHeavy;
      color: $primaryColor;
      font-size: #{$font36}rem;
    }

    .movie-duration {
      color: $primaryColor;
      display: flex;
      align-items: center;
      gap: 10px;


      .rating{
        @include fontInter;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primaryColor;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 5rem;
        color: $black2;
      }
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 1.5rem;

      @include responsiveToUp(md){
        padding: 1rem 0;
      }
  
    }

    .movie-content {
      @include fontInter;
      color: $primaryColor;
      line-height: 1.75rem;

    }

    .buttons{
        display: flex;
        align-items: center;
        gap: 1rem;

        @include responsiveToUp(md){
          margin-top: 1rem;
          flex-direction: column;
          align-items: flex-start;
        }

        .playBtn{
          @include fontSatoshi;
            display: flex;
            background-color: $primaryColor;
            border-radius: 2.5rem;
            gap: 0.5rem;
            color: $secondaryColor;
            padding: 6px 16px 6px 6px !important;

            .iconWrapper{
              display: flex;
              align-items: center;
              justify-content: center;
              height: 1.6rem;
              width: 1.6rem;
              background-color: $red1;
              border-radius: 3rem;
              color: $primaryColor;
            }
        }

        .moreBtn{
            @include fontInter;
            border-radius: 10px;
            color: $primaryColor;
            border: 2px solid $primaryColor;
            padding: 10px 15px !important;
        }
    }
  }

  .intro{
    background-color: transparent ;
    border: 1px solid $primaryColor;
    color: $primaryColor;
    border-radius: 1rem;
    transition: 0.5s ease-in-out;
    padding: 0.5rem 0.6rem;

    &:hover{
   background-color: transparent ;

    }
  }

  .color{
    background-color: $primaryColor;
    color: $secondaryColor;
    border-radius: 1rem;
    padding: 0.5rem 0.6rem;
    border: none;

    &:hover{
      background-color: $primaryColor;
    }

    
  }

  .btn-out{
    background-color: $grey1 !important;
    color: $white1 !important;
    border: none !important;
  }
}
